<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form" action="{{ url_for=('data_recived') }}" method="post">
        <h2>CONTACT US</h2>
        <p type="Name:">
            <input name="name" type="text" placeholder="Full Name..."></input>
        </p>
        <p type="Roll Number:">
            <input name="roll" type="text" placeholder="Roll Number"></input>
        </p>
        <p type="Email:">
            <input name="email" type="email" placeholder="Collage Email.."></input>
        </p>
        <p type="Date of birth:">
            <input name="dob" type="date" placeholder="Date of birth"></input>
        </p>
<!--        <p type="Gender:">-->
<!--            <fieldset class="fd">-->
<!--                <input class="radio-in" name="gender" type="radio" placeholder="gender" id="male" value="male">-->
<!--                <label for="male">Male</label> <br>-->

<!--                <input class="radio-in" name="gender" type="radio" placeholder="gender" id="female" value="female">-->
<!--                <label for="female">Female</label> <br>-->

<!--                <input class="radio-in" name="gender" type="radio" placeholder="gender" id="others" value="others">-->
<!--                <label for="others">Others</label>-->
<!--            </fieldset>-->
<!--        </p>-->

<!--        <p type="Phone Number:">-->
<!--            <input type="tel" name="phone" placeholder="Contact Number...">-->
<!--        </p>-->

<!--        <fieldset class="fieldset">-->
<!--            <legend>10th class details</legend>-->
<!--            <p type="10th Percentage:">-->
<!--                <input type="number" name="p10" placeholder="10th  Percent...">-->
<!--            </p>-->
<!--            <p type="Board:">-->
<!--                <input type="text" name="pb10" placeholder="Board Name...">-->
<!--            </p>-->

<!--            <p type="Year of passing:">-->
<!--                <input type="number" name="pp10" placeholder="10th passing year...">-->
<!--            </p>-->
<!--        </fieldset>-->


<!--        <fieldset class="fieldset">-->
<!--            <legend>12th class details</legend>-->
<!--            <p type="12th Percentage:">-->
<!--                <input type="number" name="p12" placeholder="12th Percent...">-->
<!--            </p>-->

<!--            <p type="Board:">-->
<!--                <input type="text" name="pb12" placeholder="12th Board...">-->
<!--            </p>-->

<!--            <p type="Year of passing:">-->
<!--                <input type="number" name="pp12" placeholder="12th passing year...">-->
<!--            </p>-->
<!--        </fieldset>-->

<!--        <fieldset class="fieldset">-->
<!--            <legend>Degree Details</legend>-->
<!--            <p type="Degree:">-->
<!--                <input type="text" name="degree" placeholder="Degree Name...">-->
<!--            </p>-->

<!--            <p type="Branch:">-->
<!--                <input type="text" name="branch" placeholder="Branch Name...">-->
<!--            </p>-->

<!--            <p type="Year of passing:">-->
<!--                <input type="number" name="graduateYear" placeholder="Graduating on...">-->
<!--            </p>-->

<!--            <p type="University:">-->
<!--                <input type="text" name="University" placeholder="RGPV...">-->
<!--            </p>-->

<!--            <p type="Collage Name:">-->
<!--                <input type="text" name="CollageName" placeholder="IES IPS...">-->
<!--            </p>-->

<!--            <p type="CGPA till now:">-->
<!--                <input type="number" name="marks" placeholder="CGPA...">-->
<!--            </p>-->

<!--        </fieldset>-->

<!--        <p type="Category:">-->
<!--            <input type="text" name="category" placeholder="ST,SC,OBC,General...">-->
<!--        </p>-->


        <button type="submit" name="submit">Submit</button>

    </form>

</body>
</html>